@font-face {
  font-family: "Martian";
  src: url("../fonts/MartianMono-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Martian";
  src: url("../fonts/MartianMono-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Martian";
  src: url("../fonts/MartianMono-ExtraBold.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Martian";
  src: url("../fonts/MartianMono-Thin.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Thin.ttf");
  font-weight: 200;
  font-style: normal;
}
